body{
    font-family: serif;
    background-color: beige;
}

a{
    text-decoration: none;
    color: cadetblue;
}

h1,h2,h3{
    margin: 0;
}

#containter {
    background-color: bisque;
   width:800px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: cadetblue;
    color: goldenrod;
    text-align: center;
    padding: 10px;
}

#content{
    padding:10px;
}

#nav{
    width:400px;
    float: left;
}

#nav .selected{
    font-weight: bold;
}

#nav .ul{
    list-style-type: circle;
}

#main{
   width:600px;
    float: left;
    border-color: aliceblue;
}

#title{
    color:goldenrod;
}

#footer{
    clear: both;
    padding: 10px;
    text-align: right;
    background-color: #999999;
}